<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
    <section class="sesion">
        <a href="/">volver</a>
        <h1>añadir un nuevo producto</h1>
    </section>
    <section>
        <form action="/nuevo-producto" method="POST">
            <input type="text" placeholder="sku">
            <input type="text" placeholder="nombre">
            <input type="text" placeholder="descripcion">
            <input type="submit" value="añadir producto">
        </form>
    </section>

    <script src="/funciones.js"></script>
</body>
</html>