<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
    <section class="cabecera">
        <a href="/">volver</a>
    </section>
    <section class="formulario">
        <form action="/nuevo-producto" method="POST">
            <div>
                <label for="sku">SKU</label>
                <input type="text" placeholder="p. ej. AB123456" name="sku" id="sku">
            </div>
            <div>
                <label for="nombre">Nombre del Producto</label>
                <input type="text" placeholder="p. ej. Nombre En Mayúscula" name="nombre">
            </div>
            <div>
                <label for="descripcion">Descripción del Producto</label>
                <input type="text" placeholder="p. ej. Unidades de Cantidad" name="descripcion" id="descripcion">
            </div>
            <input type="submit" value="añadir producto">
        </form>
        <p></p>
    </section>

    <script src="/validacion_producto.js"></script>
</body>
</html>