<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>

    <section class="H__100vh flex flex__just--cen flex__alig--cen flex__dir--col gap__20">
        <button class="boton__1"><a class="link__1" href="/">volver</a></button>
        <h1>Ha ocurrido un error</h1>
    </section>
    
</body>
</html>